{% extends "base.html" %}
{% block main %}
<br>

{% if category_found==False %}
    <h4>The category "{{fault}}" you are looking for does not exist.</h4>
{% endif %}


{% with messages=get_flashed_messages() %}
    {% if messages %}
    <p style="color: blue">{{messages[0]}}</p>
    {% endif %}
{% endwith %}


{% if category_found==True %}
<h1>{{category.name.capitalize()}}</h1>

    <a href='{{url_for("newItem", category_name=category.name)}}'>Add new item</a><br>

    {% if items_found==False %}
        <h4>There are no items from this category right now.</h4>
    {% endif %}

    {% if items_found==True %}
    <ol>
    {% for item in items %}
        <li>
            <a href="{{url_for('itemsPage', category_name=category.name, item_id=item.id)}}">{{item.name.capitalize()}}</a>     {% if item.available==1 %}Available{% endif %}{% if item.available==0 %}Not Available{% endif %}    ${{item.price}}
        </li>
    {% endfor %}
    </ol>
    {% endif %}

{% endif %}


{% endblock %}