{% extends "base.html" %}
{% block main %}
<br>

    <h2>Edit Item</h2>

    <a href='{{url_for("itemsPage", category_name=category.name, item_id=item.id)}}'>
        <h4><-{{item.name}}</h4>
    </a>
    <br>

    {% if errors %}
        <ul>
        {% for error in errors %}
            <li style="color: red">{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="{{url_for('editItem', category_name=category.name, item_id=item.id)}}" method="post">
        <label style="font-weight: bold">Item Name (30 chars max)</label><input name="item_name" type="text" value='{{item.name}}' pattern=".{2,30}"><br><br>
        
        <label style="font-weight: bold">Price (max $500): $</label><input name="item_price" type="number" min="0" step="0.01" max="500" value="{{item.price}}"><br><br>
        
        <label style="font-weight: bold">Is the item available right now?</label>
        {% if item.available==True %}
        <input type="radio" name="availability" value='Yes' checked>Available
        <input type="radio" name="availability" value='No'>Not available
        {% else %}
        <input type="radio" name="availability" value='Yes'>Available
        <input type="radio" name="availability" value='No' checked>Not available
        {% endif %}
        <br><br>
        
        <label style="font-weight: bold">Enter item description (140 chars max)</label><br>
        <textarea name="item_description" rows="3" cols="50" maxlength="140">{{item.description}}</textarea>
        <br><br>
        
        <input name="category_confirm" type="hidden" value={{category.name}}>
        
        <input type="submit">
    </form>


{% endblock %}